.jce-grid {
  display: grid;
  height: 100%;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 3em;
  grid-template-areas:
    "editor"
    "footer";
  min-height: 18em;
}

#jce-editor {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 3px;
  grid-area: editor;
}

.jce-footer {
  margin-top: 0.5em;
  grid-area: footer;
}
